/primer_git/sesion_10_agosto/nbproject/private/
/primer_git/sesion_10_agosto/build/
/primer_git/sesion_12_agosto/nbproject/private/
/primer_git/sesion_12_agosto/build/
/primer_git/Sesion_14_agosto/nbproject/private/
/primer_git/Sesion_14_agosto/build/
/primer_git/Tarea_17_agosto_2020/nbproject/private/
/primer_git/Tarea_17_agosto_2020/build/
/primer_git/sesion_17_agosto/nbproject/private/
/primer_git/sesion_17_agosto/build/
/primer_git/sesion_19_agosto/nbproject/private/
/primer_git/Tarea_21_agosto/nbproject/private/
/primer_git/Tarea_21_agosto/build/
/primer_git/Sesion_21_agosto/nbproject/private/
/primer_git/Sesion_21_agosto/build/
